# systemd config
# copy to /lib/systemd/system/badge.service
#
# systemctl daemon-reload
# systemctl enable badge.service
# systemctl start badge
# systemctl status badge.service
# # tail the log
# journalctl -f -u badge
[Unit]
Description=Badge-cache App Server
Requires=nginx.service

[Service]
WorkingDirectory=/<PATH_TO_PROJ_DIR>/badge-cache
ExecStart=/<PATH_TO_EXEC>/badge-cache serve --port <PORT> --log
Restart=on-failure

[Install]
WantedBy=multi-user.target
