<html>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <title> badge-cache.rs </title>
        <link rel="shortcut icon" href="/favicon.ico?v=1" type="image/x-icon">
        <link rel="icon" href="/favicon.ico?v=1" type="image/x-icon">

        {% block head_extra %}
        {% endblock head_extra %}
    </head>

    <body>
        {% block content %}
        {% endblock content %}
    </body>

    <footer>
        <a href="https://github.com/jaemk/badge-cache"><img style="width: 32px;" src="static/github.png" /></a>
    </footer>

    {% block script %}
    {% endblock script %}
</html>
