{% extends "base.html" %}

{% block content %}
<pre>
Welcome to badge-cache!

Usage:
    - Get a crate's badge:
        /crate/&ltcrate-name&gt?&ltshields-io-params&gt
        ex. /crate/iron?label=iron&style=flat-square <img src="/crate/iron?label=iron&style=flat-square" />


        (shields.io compatible url)
        /crates/v/&ltcrate-name&gt.svg?&ltshields-io-params&gt
        ex. /crates/v/mime.svg?label=mime <img src="/crates/v/mime.svg?label=mime" />
        ex. /crates/v/mime.png?label=mime <img src="/crates/v/mime.png?label=mime" />
        ex. /crates/v/mime.jpg?label=mime <img src="/crates/v/mime.jpg?label=mime" />

        ex. /crates/v/mime.json?label=mime
<span id="json-info"><noscript> I can't load without javascript -_- </noscript></span>


    - Get a generic badge:
        /badge/&ltbadge-info-triple&gt?&ltshields-io-params&gt
        ex. /badge/custom-long--status--note-blue?style=flat-square <img src="/badge/custom-long--status--note-blue?style=flat-square" />


        (shields.io compatible url)
        /badge/&ltbadge-info-triple&gt.svg?&ltshields-io-params&gt
        ex. /badge/custom-status-x.svg?style=social <img src="/badge/custom-status-x.svg?style=social" />


    - Force a server cache reset:
        See the <a href="/reset">reset page</a>, or use the api directly:
        ex.
            curl -X POST https://badge-cache.kominick.com/reset/crate/mime.jpg?label=mime
            curl -X POST https://badge-cache.kominick.com/reset/crates/v/mime.jpg?label=mime
</pre>
{% endblock content %}


{% block script %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    var jsonInfo = document.getElementById('json-info');
    http = new XMLHttpRequest();
    var url = '/crate/mime.json?label=mime';
    http.open("GET", url, true);
    http.onreadystatechange = function() {
        if (http.readyState !== XMLHttpRequest.DONE || http.status !== 200) { return; }
        jsonInfo.textContent = http.responseText;
    }
    http.send();
});
</script>
{% endblock script %}
